.header {
    height: 90px;
    width: 600px;
    background: #fefefe;
    /* margin: auto; */
    /* margin-top: 40px; */
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px -1px rgb(142 142 142); */
    display: flex;
    justify-content: space-between;

}
.heading {
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}